*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.w50{
    width: 50%;
}

.w100{
    width: 100%;
}

header{
    background-color: aqua;
    padding: 50px;
    text-align: center;
}

.box-lista{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lista-cadastro{
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 25%;
    padding: 35px 0;
}

.lista-cadastro label{
    font-weight: bold;
    font-size: 18px;
    padding: 15px 0;
}

.lista-cadastro input{
    padding: 10px;
    font-size: 16px;
}

.lista-cadastro input[type="submit"]{
    margin-top: 35px;
    cursor: pointer;
}

.lista-produtos{
    display: flex;
    flex-direction: column;
    padding: 35px 0;
}

.lista-produtos-title{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.produto-single{
    display: flex;
    flex-direction: row;

    padding: 15px 0;
    border-bottom: 1px solid black;

    font-size: 20px;
}

.produto,.preco{
    text-align: center;
}